<footer>
    <div class="row bg-dark-sky w-100 py-2 px-4 footer justify-content-center">
        <label for="sub" class="col-md-3 text-white">Si quieres estar al día con nosotros y enterarte de nuestras novedades en productos y servicios suscribete para mantenerte al tanto: </label>
        <div class="input-group col-md-3 my-4">
            <input type="email" class="form-control" placeholder="marquito@mail.com" aria-label="marquito@mail.com" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-info" type="button" id="button-addon2">Suscribirse</button>
            </div>
        </div>
    </div>
    <div class="footer w-100 bg-dark-sky text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <a class="logo" href="#">
                                <img src="../../assets/logo-3.png" alt="" class="w-100">
                            </a>
                            <p class="text-white">
                                Somos My Devia RD, distribuidor exclusivo de Devia para República Dominicana.
                            </p>
                        </div>
                        <div class="col-md-6 m-0">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info text-white"
                                    target="_blank" rel="noopener noreferrer" href="tel:8092962823">
                                    <!-- <fa-icon class="text-info" [icon]="phone"></fa-icon>  -->
                                    (809) 296-2823
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info text-white"
                                    target="_blank" rel="noopener noreferrer" href="https://wa.me/18494507766">
                                    <!-- <fa-icon class="text-info" [icon]="whatsapp"></fa-icon>  -->
                                    +1 (849) 450-7766
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info text-white"
                                    target="_blank" rel="noopener noreferrer" href="mailto:contacto@mydevia.com.do">
                                    <!-- <fa-icon class="text-info" [icon]="mail"></fa-icon>  -->
                                    contacto@mydevia.com.do
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info text-white"
                                    target="_blank" rel="noopener noreferrer" href="https://g.page/bonaounlock23">
                                    <!-- <fa-icon class="text-info" [icon]="location"></fa-icon>  -->
                                    C/ Duarte No.224, Bonao 42000, Monseñor Nouel, República Dominicana
                                </a>
                            </div>
                            
                            <h4 class="font-weight-bold text-white mt-4">Síguenos</h4>
                            <ul class="list-group list-group-horizontal w-100 justify-content-center border-light mt-2">
                                <li class="list-group-item py-2 user-select-none text-center bg-dark-sky w-25 m-0 border-0"><a
                                        target="_blank" rel="noopener noreferrer"
                                        href="https://www.facebook.com/mydeviard/" class="text-info text-decoration-none">
                                        <li class="fab fa-facebook-square icon"></li>
                                    </a></li>
                                <li class="list-group-item py-2 user-select-none text-center bg-dark-sky w-25 m-0 border-0"><a
                                        target="_blank" rel="noopener noreferrer" href="https://twitter.com/mydeviard"
                                        class="text-info text-decoration-none">
                                        <li class="fab fa-twitter-square icon"></li>
                                    </a></li>
                                <li class="list-group-item py-2 user-select-none text-center bg-dark-sky w-25 m-0 border-0"><a
                                        target="_blank" rel="noopener noreferrer"
                                        href="https://www.instagram.com/mydeviard/" class="text-info text-decoration-none" text-decoration-none>
                                        <li class="fab fa-instagram-square icon"></li>
                                    </a></li>
                                <li class="list-group-item py-2 user-select-none text-center bg-dark-sky w-25 m-0 border-0"><a
                                        target="_blank" rel="noopener noreferrer"
                                        href="https://www.youtube.com/channel/UCb_JZZVD9T1fkO-FHgJ3sLA"
                                        class="text-info text-decoration-none">
                                        <li class="fab fa-youtube-square icon"></li>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 p-0">
                            <h4 class="font-weight-bold text-white">Información</h4>    
                            <div class="list-group list-group-flush">
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Sobre Nosotros
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Politica de Privacidad
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                            <h4 class="font-weight-bold text-white">Productos</h4>    
                            <div class="list-group list-group-flush">
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Láminas
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Covers
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Cables & Cargadores
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Audifonos - Audio
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Otros Accesorios
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                            <h4 class="font-weight-bold text-white">Servicio al Cliente</h4>        
                            <div class="list-group list-group-flush">
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Envío y devoluciones
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Contáctenos
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Almacenar imágenes
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Material de exhibición
                                </a>
                                <a class="list-group-item py-2 user-select-none bg-dark-sky text-info a-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Vídeos de productos
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="row footer w-100 bg-dark-sky">
        <div class="col text-center">
        <a class="p-0 content-justify-center text-center" href="https://transparencyreport.google.com/safe-browsing/search?url=mydevia.com.do"><img src="../../../assets/google-trusted.png" class="m-4 ft-img" alt=""></a>
        </div>
        <div class="col text-center">
        <a class="p-0 content-justify-center text-center" href="https://safeweb.norton.com/report/show?url=mydevia.com.do"><img src="../../../assets/norton-2.png" class="m-4 ft-img" alt=""></a>
        </div>
    </div>
    <div class="row footer bg-info pt-2 w-100">
        <div class="mx-auto">
            <p class="text-light"> Copyright &copy; {{copyYear}} Todos los Derechos Reservados | Cenllabo Comunicaciones SRL |
            <a href="https://www.instagram.com/undivity/" class="text-decoration-none text-dark-sky a-dark-sky" target="_blank"
                rel="noopener noreferrer">Creado por Undivity</a></p> 
        </div>
    </div>
</footer>