<div class="fah shadow">
    <div class="row bg-dark-sky w-100 py-2 footer">
        <div class="btn-toolbar  row" role="toolbar" aria-label="Toolbar with button groups">
            <input type="text" class="col form-control mr-2" placeholder="marquito@mail.com" aria-label="marquito@mail.com" aria-describedby="btnGroupAddon">
            <button type="button" class="col btn btn-info">Suscribete</button>
        </div>
    </div>
    <div class="footer w-100 bg-dark-sky text-white py-4">
        <div class="container p-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <a class="logo" href="#">
                                <img src="../../assets/logo-3.png" alt="" class="w-100">
                            </a>
                        </div>
                        <div class="col-md-7">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky text-info text-white"
                                    target="_blank" rel="noopener noreferrer" href="tel:8092962823">
                                    <!-- <fa-icon class="text-info" [icon]="phone"></fa-icon>  -->
                                    (809) 296-2823
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky text-info text-white"
                                    target="_blank" rel="noopener noreferrer" href="https://wa.me/18494507766">
                                    <!-- <fa-icon class="text-info" [icon]="whatsapp"></fa-icon>  -->
                                    +1 (849) 450-7766
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky text-info text-white"
                                    target="_blank" rel="noopener noreferrer" href="mailto:contacto@mydevia.com.do">
                                    <!-- <fa-icon class="text-info" [icon]="mail"></fa-icon>  -->
                                    contacto@mydevia.com.do
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky text-info text-white"
                                    target="_blank" rel="noopener noreferrer" href="https://g.page/bonaounlock23">
                                    <!-- <fa-icon class="text-info" [icon]="location"></fa-icon>  -->
                                    C/ Duarte No.224, Bonao 42000, Monseñor Nouel, República Dominicana
                                </a>
                            </div>
                            
                            <h4 class="font-weight-bold text-white">Síguenos</h4>
                            <ul class="list-group list-group-horizontal w-100 justify-content-center border-light mt-2">
                                <li class="list-group-item user-select-none text-center bg-dark-sky w-25 m-0 border-0"><a
                                        target="_blank" rel="noopener noreferrer"
                                        href="https://www.facebook.com/mydeviard/" class="text-info text-decoration-none">
                                        <!-- <fa-icon [icon]="facebook" size="lg"></fa-icon> -->
                                        F
                                    </a></li>
                                <li class="list-group-item user-select-none text-center bg-dark-sky w-25 m-0 border-0"><a
                                        target="_blank" rel="noopener noreferrer" href="https://twitter.com/mydeviard"
                                        class="text-info text-decoration-none">
                                        <!-- <fa-icon [icon]="twitter" size="lg"></fa-icon> -->
                                        T
                                    </a></li>
                                <li class="list-group-item user-select-none text-center bg-dark-sky w-25 m-0 border-0"><a
                                        target="_blank" rel="noopener noreferrer"
                                        href="https://www.instagram.com/mydeviard/" class="text-info text-decoration-none" text-decoration-none>
                                        <!-- <fa-icon [icon]="instagram" size="lg"></fa-icon> -->
                                        I
                                    </a></li>
                                <li class="list-group-item user-select-none text-center bg-dark-sky w-25 m-0 border-0"><a
                                        target="_blank" rel="noopener noreferrer"
                                        href="https://www.youtube.com/channel/UCb_JZZVD9T1fkO-FHgJ3sLA"
                                        class="text-info text-decoration-none">
                                        <!-- <fa-icon [icon]="youtube" size="lg"></fa-icon> -->
                                        Y
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold text-white">Información</h4>    
                        <div class="list-group list-group-flush">
                            <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                Sobre Nosotros
                            </a>
                            <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                Politica de Privacidad
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h4 class="font-weight-bold text-white">Productos</h4>    
                            <div class="list-group list-group-flush">
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Láminas
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Covers
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Cables & Cargadores
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Audifonos - Audio
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Otros Accesorios
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="font-weight-bold text-white">Servicio al Cliente</h4>        
                            <div class="list-group list-group-flush">
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Envío y devoluciones
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Contáctenos
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Almacenar imágenes
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Material de exhibición
                                </a>
                                <a class="list-group-item user-select-none list-group-item-action bg-dark-sky  text-info"
                                    [routerLink]="['/']" routerLinkActive="router-link-active" aria-current="true">
                                    Vídeos de productos
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="row footer w-100 bg-dark-sky">
        <div class="col text-center">
        <a class="p-0 content-justify-center text-center" href="https://transparencyreport.google.com/safe-browsing/search?url=mydevia.com.do"><img src="../../../assets/google-trusted.png" class="m-4" alt=""></a>
        </div>
        <div class="col text-center">
        <a class="p-0 content-justify-center text-center" href="https://safeweb.norton.com/report/show?url=mydevia.com.do"><img src="../../../assets/norton-2.png" class="m-4" alt=""></a>
        </div>
    </div>
    <div class="row footer bg-info pt-2 w-100">
        <div class="mx-auto">
            <p class="text-light"> Copyright &copy; {{copyYear}} Todos los Derechos Reservados | Cenllabo Comunicaciones SRL |
            <a href="https://www.instagram.com/undivity/" class="text-decoration-none text-dark" target="_blank"
                rel="noopener noreferrer">Creado por Undivity</a></p> 
        </div>
    </div>
</div>