<dev-main-slider></dev-main-slider>
<div class="row w-100 text-center justify-content-center">
    <div class="col-4-md w-25"><img src="../../../assets/planes-1.png" alt="" class="my-0 mx-auto img-fluid"></div>
    <div class="col-4-md w-25"><img src="../../../assets/planes-1.png" alt="" class="my-0 mx-auto img-fluid"></div>
    <div class="col-4-md w-25"><img src="../../../assets/planes-1.png" alt="" class="my-0 mx-auto img-fluid"></div>
</div>
<dev-accesorios></dev-accesorios>
<div class="row">
    <div class="col-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2cIuu9ZMJwE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-8">
        <p class="display-4">Maquina</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dicta saepe odio dolorem amet placeat quia numquam laudantium nobis delectus. Deleniti dolores quo aut maxime quia neque incidunt accusantium maiores consectetur vel facere eveniet fugit inventore tempora reprehenderit, quis sapiente, in hic molestiae at natus animi minima odit amet? Perferendis dicta dolorem autem magnam facere blanditiis nostrum nesciunt labore similique, ad temporibus velit saepe. Reiciendis aliquam laborum tempora qui maiores blanditiis totam ex, eaque cumque assumenda, eius minima quos laudantium unde cupiditate suscipit deserunt nemo debitis dolor quo nam. At molestiae fugit minima animi nostrum provident sit ea ex qui.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p class="display-4">Lámina Frontal</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dicta saepe odio dolorem amet placeat quia numquam laudantium nobis delectus. Deleniti dolores quo aut maxime quia neque incidunt accusantium maiores consectetur vel facere eveniet fugit inventore tempora reprehenderit, quis sapiente, in hic molestiae at natus animi minima odit amet? Perferendis dicta dolorem autem magnam facere blanditiis nostrum nesciunt labore similique, ad temporibus velit saepe. Reiciendis aliquam laborum tempora qui maiores blanditiis totam ex, eaque cumque assumenda, eius minima quos laudantium unde cupiditate suscipit deserunt nemo debitis dolor quo nam. At molestiae fugit minima animi nostrum provident sit ea ex qui.
        </p>    
    </div>
    <div class="col-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2cIuu9ZMJwE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p class="display-4">Lámina Tracera</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dicta saepe odio dolorem amet placeat quia numquam laudantium nobis delectus. Deleniti dolores quo aut maxime quia neque incidunt accusantium maiores consectetur vel facere eveniet fugit inventore tempora reprehenderit, quis sapiente, in hic molestiae at natus animi minima odit amet? Perferendis dicta dolorem autem magnam facere blanditiis nostrum nesciunt labore similique, ad temporibus velit saepe. Reiciendis aliquam laborum tempora qui maiores blanditiis totam ex, eaque cumque assumenda, eius minima quos laudantium unde cupiditate suscipit deserunt nemo debitis dolor quo nam. At molestiae fugit minima animi nostrum provident sit ea ex qui.
        </p>   
    </div>
    <div class="col-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2cIuu9ZMJwE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>